---
import IconGithub from "@/icons/IconGithub.astro";
import LinkButton from "./LinkButton.astro";

interface Tag {
  name: string;
  color: string;
  icon: string;
}

const TAGS = {
  HTML: {
    name: "HTML",
    color: "bg-red-500",
    icon: "https://cdn.svgporn.com/logos/html-5.svg",
  },
  CSS: {
    name: "CSS",
    color: "bg-blue-500",
    icon: "https://cdn.svgporn.com/logos/css-3.svg",
  },
  JS: {
    name: "JS",
    color: "bg-yellow-500",
    icon: "https://cdn.svgporn.com/logos/javascript.svg",
  },
  TS: {
    name: "TS",
    color: "bg-blue-500",
    icon: "https://cdn.svgporn.com/logos/typescript-icon.svg",
  },
  Angular: {
    name: "Angular",
    color: "bg-red-500",
    icon: "https://cdn.svgporn.com/logos/angular-icon.svg",
  },
  Vue: {
    name: "Vue",
    color: "bg-green-500",
    icon: "https://cdn.svgporn.com/logos/vue.svg",
  },
  Java: {
    name: "Java",
    color: "bg-red-500",
    icon: "https://cdn.svgporn.com/logos/java.svg",
  },
  Spring: {
    name: "Spring",
    color: "bg-green-500",
    icon: "https://cdn.svgporn.com/logos/spring-icon.svg",
  },
  MYSQL: {
    name: "MYSQL",
    color: "bg-blue-500",
    icon: "https://cdn.svgporn.com/logos/mysql.svg",
  },
};

interface Proyect {
  title: string;
  description?: string;
  image?: string;
  link?: string;
  github?: string;
  tags?: Array<(typeof TAGS)[keyof typeof TAGS]>;
}

const PROYECTS: Proyect[] = [
  {
    title: "Proyectos en curso",
  },
];
---

<section class="flex flex-col gap-y-20">
  {
    PROYECTS.map(({ title, description, tags, image, link, github }) => (
      <article>
        <h3 class="text-2xl font-semibold text-royal-blue-300 mb-2">{title}</h3>
        <p class="text-lg mb-4 text-balance">{description}</p>
        <ul
          class="
          flex flex-wrap gap-2 
          mb-4
        "
        >
          {tags &&
            tags.map((tag: Tag) => (
              <li>
                <span
                  class={`inline-block rounded-full px-3 py-1 text-sm font-semibold mr-2 ${tag.color}`}
                >
                  <img
                    class="w-4 h-4 inline-block mr-2"
                    src={tag.icon}
                    alt={tag.name}
                  />
                  {tag.name}
                </span>
              </li>
            ))}
        </ul>
        <img
          loading="lazy"
          class="rounded shadow-2xl shadow-white/10"
          src={image}
          alt={description}
        />
      </article>
    ))
  }
</section>
